Package: memrw
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.35),
         libqt6charts6 (>= 6.2.0),
         libqt6widgets6 (>= 6.2.0),
         libqt6gui6 (>= 6.2.0),
         libqt6core6 (>= 6.2.0),
         libqt6openglwidgets6 (>= 6.2.0),
         libqt6opengl6 (>= 6.2.0),
         libqt6dbus6 (>= 6.2.0),
         libusb-1.0-0 (>= 2.0.0),
         libudev1
Maintainer: SuperLiaohy <liaohy123@outlook.com>
Homepage: https://github.com/SuperLiaohy/MemRW
Description: Memory read and write visualization of mcu
